.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  min-width: 20%;
  padding: 1rem;
  border-radius: 5%;
}

.orderDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  height: 100%;
  gap: 1rem;
}

.orderDetailsLabel {
  border-bottom: 2px dotted black;
  font-size: 2rem;
}

.detail {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.detail ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.detail span {
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .detail ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

[data-tip] {
  position: relative;
}

[data-tip]:before {
  content: attr(data-tip);
  position: absolute;
  top: 100%;
  left: 50%;
  white-space: nowrap;
  padding: 4px 8px;
  background: black;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
  display: none;
  z-index: 20;
}

[data-tip]:hover:before {
  display: block;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #3b3317;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 1rem;
  border-radius: 12px;
}
